In [12]:
import urllib.request as request
from bs4 import BeautifulSoup
import pandas as pd
from datetime import datetime,timedelta,timezone

url = 'https://stocks.finance.yahoo.co.jp/stocks/detail/?code=998407.O'

response = request.urlopen(url)
bs = BeautifulSoup(response,"html.parser")

In [13]:
stocks_price = bs.select('.stoksPrice')[1].text
print(stocks_price)

21,710.00

In [15]:
jst = timezone(timedelta(hours=+9),"JST")
today = datetime.now(jst).date().isoformat()

df = pd.DataFrame([[stocks_price,today]])
df.to_csv("stocks_Price.csv",mode="a",header=False,index=False)

In [16]:
df.head()

           0           1
0  21,710.00  2020-07-31